In [1]:
# Comments & Basic Data Types
    # Comments are notes you left behind that facilitates the reading of a program, they are not read by the interpreter.

# This is a comment

In [2]:
print("Hello")          # This is also a comment

Hello

In [4]:
"""
This is a multi-line comment
"""
print("Hello")         # this is also a comment

Hello

In [5]:
# print statement = python function to output information to the user

# the following are all integers
print(2)
print(10)

2
10

In [7]:
# the following are all floats
print(10.973)
print(8.0)              # even this number is a float

10.973
8.0

In [8]:
# the following are booleans
print(True)
print(False)

True
False

In [10]:
# the following are strings

print(" ")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

# Monday Exercises

In [12]:
# Print out your name
 
print("Andres Felipe Leon Rojas")

Andres Felipe Leon Rojas

In [16]:
# Try checking the type of a value by using the type() method.

print(type(8))    # this will output <class 'int'>

<class 'int'>

# Tuesday: Variables
Variables allow us to save values into memory using a name that we assign

In [ ]:
first_name = "John"        
# This step is called "declaration". We declared a variable (case sensitive) with a name and assigned a value (data type). This data is stored in memorry, and we can access it by calling the variable name.

In [17]:
num1 = 5        # storing an integer into a variable
num2 = 8.4      # storing a float into a variable
print(num1, num2)       # you can print multiple items using commas

5 8.4

In [18]:
# Storing a boolean into a variable

switch = True
print(switch)

True

In [21]:
# storing strings into a variable

name = "John Smith"
fav_number = "9"
print(name,fav_number)              # will print 9 next to the name
print(type(name),type(fav_number))

John Smith 9
<class 'str'> <class 'str'>

In [22]:
# using two varibles to create another variable
result = num1 + num2
print(result)

13.4

In [23]:
# adding, deleting, multiplying, dividing from a variable

result += 1             # same as saying result = result + 1
print(result)
result *= num1          # same as saying result = result * num1
print(result)

14.4
72.0

In [24]:
# defining a variable and overwriting it's value
name = "John"
print(name)
name = "Sam"
print(name)

John
Sam

In [25]:
name = "John Smith"

# Tuesday Exercises

In [29]:
# Store the value 3 in a variable called "x" and the value 10 in a variable called "y". Saved the result of x*y into a separate varible called "result". Finally, output the information.

x = 3
y = 10
result = x*y
print(result)
print("{} * {} = {}".format(x,y,result))

30
3 * 10 = 30

In [30]:
# Calculate the area of a 245.54" * 12.66" rectangle. Print out the result.

x = 245.54
y = 12.66
area = x*y
print(area)

3108.5364

# Wednesday: Working with Strings

In [ ]:
# using the addition operator without variables. String concatenation refers to add one string to the end of another

name = "John" + " " + "Smith"
print(name)

John Smith

In [32]:
# using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [33]:
# Injecting variables using the format method

name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name, 34))

Hello John
Hello John, you are 34 years old!

In [35]:
# Using the new f strings (for Python 3.6)

name = "John"
print(f"Hello {name}")

Hello John

In [36]:
# one major difference between versions 2 & 3

name = "John"
print("Hello, %s"%name)

Hello, John

In [37]:
# python 2 mutiple varible formatting

first_name = "John"
last_name = "Smith"
print("Hello, %s %s"%(first_name,last_name))            # surround the variables in parenthesis

Hello, John Smith

In [39]:
# String index
# An index is essentially a location in memory. Indexing starts at 0 not 1.

word = "Hello"
print(word[0])
print(word[1])
print(word[4])
print(word[-1])
print(word[-4])

H
e
o
o
e

In [40]:
print(word[0:2])

He

In [41]:
print(word[ 0 : 5 : 2])                 # will output "Hlo"

Hlo

# Wednesday Exercises

In [44]:
# Create a print statement that injects an integer, float, boolean, and string all into one line. The output should look like "23 4.5 False John"

integ = 23
fl = 4.5
boolean = False
string = "John"

print( f"{integ} {fl} {boolean} {string}" )
print( "{} {} {} {}" . format (integ , fl , boolean , string ) )

23 4.5 False John
23 4.5 False John

In [45]:
# Using the format method, fill in the following blanks by assigning your name and favorite activities into variables.

name = "Andres"
activity = "soccer"
activity_2 = "python"
print("{}'s favourite sports is {}".format(name,activity))
print("{} is working in {} programming!".format(name,activity_2))

Andres's favourite sports is soccer
Andres is working in python programming!

# Thursday: String Manipulation

In [47]:
# using the title method to capitalize a string

name = "john smith"
print(name.title())
print(name.lower())
print(name.upper())

John Smith
john smith
JOHN SMITH

In [52]:
# replacing an exclamation point with a pepriod

words = "Hello there!"
print(words.replace("!","."))
print(words.replace("Hello","Hola"))
print(words)

words_2 = words.replace("Hello","Hola")
print(words_2)

Hello there.
Hola there!
Hello there!
Hola there!

In [53]:
# finding the starting index of our searchced term

s = "Look over that way"
print(s.find("over"))

5

In [57]:
# removing white space with strip

name = "    john   leon   "
print(name)
print(name.strip())
print(name.lstrip())
print(name.rstrip())

    john   leon
john   leon
john   leon
    john   leon

In [58]:
# converting a string into a list of words

s = "These words are separated by spaces"
print(s.split())

['These', 'words', 'are', 'separated', 'by', 'spaces']

# Thursday Exercises

In [59]:
# Try manipulating the string "uppercase" so it prints out as all uppercase letters.

variable = "uppercase"
print(variable)

print(variable.upper())

uppercase
UPPERCASE

In [60]:
# Strip all the dollar signs from the left side of this string "$$John Smith". Try with .lstrip() and .strip()

variable = "$$John Smith"
print(variable)
print(variable.strip("$$"))
print(variable.lstrip("$$"))

$$John Smith
John Smith
John Smith

# Friday: Creating a Receipt Printing Program

In [76]:
# create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

# create a company name and information
company_name = "coding temple, Inc."
company_address = "283 Franklin St."
company_city = "Melbourne, VIC"

# declare ending message
message = "Thanks for shopping with us today"

# create a top border
print("*"*50)

# print company information first, using format
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))

# print a line between sections
print("="*50)

# print out header for section of items
print("\tProduct Name\tProduct Price")

# create a print statement for each product
print("\t{}\t\t${}".format(p1_name.title(),p1_price))
print("\t{}\t${}".format(p2_name.title(),p2_price))
print("\t{}\t\t${}".format(p3_name.title(),p3_price))

# print a line between sections
print("="*50)

# print out the header for sectionj of total
print("\t\t\tTotal")

# calculate total price and print it out
total = p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))

# print a line between sections
print("="*50)

# output thank you message
print("\n\t{}\n".format(message))

# create a bottom border
print("*"*50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Melbourne, VIC
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today

**************************************************

# Weekly Challenges

In [112]:
# Try adding a star border on the sides of the Friday Project.

# create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

# create a company name and information
company_name = "coding temple, Inc."
company_address = "283 Franklin St."
company_city = "Melbourne, VIC"

# declare ending message
message = "Thanks for shopping with us today"


# create a top border
print("*"*50)

# print company information first, using format
print("*\t\t{}\t\t *".format(company_name.title()))
print("*\t\t{}\t\t *".format(company_address))
print("*\t\t{}\t\t\t *".format(company_city))

# print a line between sections
print("="*50)

# print out header for section of items
print("*\tProduct Name\tProduct Price\t\t *")

# create a print statement for each product
print("*\t{}\t\t${}\t\t\t *".format(p1_name.title(),p1_price))
print("*\t{}\t${}\t\t\t *".format(p2_name.title(),p2_price))
print("*\t{}\t\t${}\t\t\t *".format(p3_name.title(),p3_price))

# print a line between sections
print("="*50)

# print out the header for sectionj of total
print("*\t\t\tTotal\t\t\t *")

# calculate total price and print it out
total = p1_price + p2_price + p3_price
print("*\t\t\t${}\t\t\t *".format(total))

# print a line between sections
print("="*50)

# output thank you message
print("*\t\t\t\t\t\t *\n*\t{}\t *\n*\t\t\t\t\t\t *".format(message))

# create a bottom border
print("*"*50)

**************************************************
*		Coding Temple, Inc.		 *
*		283 Franklin St.		 *
*		Melbourne, VIC			 *
==================================================
*	Product Name	Product Price		 *
*	Books		$49.95			 *
*	Computer	$579.99			 *
*	Monitor		$124.89			 *
==================================================
*			Total			 *
*			$754.83			 *
==================================================
*						 *
*	Thanks for shopping with us today	 *
*						 *
**************************************************

In [ ]:
# Try looking for additional string manipulation methods.

name = "andres leon"
print(name.capitalize())            # converts the first character to upper case
print(name.casefold())              # converts string into lower case
print(name.center(0))                # returns a centered string
print(name.count("andres"))         # returns the number of times a specified value occurs in a string
print(name.encode())                # returns an encoded version of the string
print(name.endswith("p"))           # returns true if the string ends with the specified value
print(name.replace("leon","rojas")) # returns a string where a specified value is replaced  with a specified value

Andres leon
andres leon
andres leon
1
b'andres leon'
False
andres rojas

In [81]:
# Declare a variable equal to "Hello". Reverse the string using slicing.

variable = "Hello"
print(variable[::-1])

olleH